In [5]:
import pandas as pd
data=[['Alex',10],['Bob',12],['Clarke',13]]
pd.Series(data)
print(type(data))

<class 'list'>

In [7]:
data=pd.Series([{1: 'Alex', 2: 10}, {1: 'Bob', 2: 12}, {1: 'Clarke', 2: 13}])
print(data)

0      {1: 'Alex', 2: 10}
1       {1: 'Bob', 2: 12}
2    {1: 'Clarke', 2: 13}
dtype: object

In [9]:
data=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(data)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [21]:
a=pd.DataFrame({'A':["sudhir","niraj","sujal"],
              'B':[10,20,30],
              'C':[2,4,55]
              },index=[1,2,3])
print(type(a))
print(a)

<class 'pandas.core.frame.DataFrame'>
        A   B   C
1  sudhir  10   2
2   niraj  20   4
3   sujal  30  55

In [23]:
import numpy as np 
np.array(a)

array([['sudhir', 10, 2],
       ['niraj', 20, 4],
       ['sujal', 30, 55]], dtype=object)

In [26]:
data=[
    {
        'Name':'Alex','Age':10,'city':'New York'
    },
    {
        'Name':'Bob','Age':12,'city':'New York'
    },
    {
        'Name':'Clarke','Age':13,'city':'New York'
    },
    {
        'Name':'Sudhir','Age':14,'city':'New York'
    },
   
]
pd.DataFrame(data,index=[1,2,3,4,5])

     Name  Age      city
1    Alex   10  New York
2     Bob   12  New York
3  Clarke   13  New York
4  Sudhir   14  New York
5   Niraj   15  New York

In [31]:
a=pd.read_csv('anime.csv')
print(a.head(5))
print(a.tail(5))
print(a.info())

   anime_id                              name  \
0     32281                    Kimi no Na wa.
1      5114  Fullmetal Alchemist: Brotherhood
2     28977                          GintamaÂ°
3      9253                       Steins;Gate
4      9969                     Gintama&#039;

                                               genre   type episodes  rating  \
0               Drama, Romance, School, Supernatural  Movie        1    9.37
1  Action, Adventure, Drama, Fantasy, Magic, Mili...     TV       64    9.26
2  Action, Comedy, Historical, Parody, Samurai, S...     TV       51    9.25
3                                   Sci-Fi, Thriller     TV       24    9.17
4  Action, Comedy, Historical, Parody, Samurai, S...     TV       51    9.16

   members
0   200630
1   793665
2   114262
3   673572
4   151266
       anime_id                                               name   genre  \
12289      9316       Toushindai My Lover: Minami tai Mecha-Minami  Hentai
12290      5543                                        Under World  Hentai
12291      5621                     Violence Gekiga David no Hoshi  Hentai
12292      6133  Violence Gekiga Shin David no Hoshi: Inma Dens...  Hentai
12293     26081                   Yasuji no Pornorama: Yacchimae!!  Hentai

        type episodes  rating  members
12289    OVA        1    4.15      211
12290    OVA        1    4.28      183
12291    OVA        4    4.88      219
12292    OVA        1    4.98      175
12293  Movie        1    5.46      142
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12294 entries, 0 to 12293
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   anime_id  12294 non-null  int64
 1   name      12294 non-null  object
 2   genre     12232 non-null  object
 3   type      12269 non-null  object
 4   episodes  12294 non-null  object
 5   rating    12064 non-null  float64
 6   members   12294 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 672.5+ KB
None

In [51]:
b=pd.DataFrame(a)

b['anime_id'],b['name']
b['salary']=0
b['salary']=b['salary']+1000

print(b['salary'])

TypeError: can only concatenate str (not "int") to str