In [57]:
import pandas as pd
from io import StringIO

Data = '[{"employee_name":"jones","email":"dasda","age":11},{"employee_name":"jones1","email":"dasda2","age":113},{"employee_name":"jones2","email":"dasda2","age":1135}]'  # Fixed the syntax error by adding a missing quote
df=pd.read_json(StringIO(Data))
df

  employee_name   email   age
0         jones   dasda    11
1        jones1  dasda2   113
2        jones2  dasda2  1135

In [58]:
df.to_json()

'{"employee_name":{"0":"jones","1":"jones1","2":"jones2"},"email":{"0":"dasda","1":"dasda2","2":"dasda2"},"age":{"0":11,"1":113,"2":1135}}'

In [59]:
df.to_json(orient='table')

'{"schema":{"fields":[{"name":"index","type":"integer"},{"name":"employee_name","type":"string"},{"name":"email","type":"string"},{"name":"age","type":"integer"}],"primaryKey":["index"],"pandas_version":"1.4.0"},"data":[{"index":0,"employee_name":"jones","email":"dasda","age":11},{"index":1,"employee_name":"jones1","email":"dasda2","age":113},{"index":2,"employee_name":"jones2","email":"dasda2","age":1135}]}'

In [63]:
url="https://www.fdic.gov/bank/individual/part335/"
a=pd.read_html(url,match="City")
a

[    Cert Number                        Bank Name            City  \
 0           110                         Bank OZK     Little Rock
 1         33539                   Preferred Bank     Los Angeles
 2         32203                Summit State Bank      Santa Rosa
 3         19690                   Northeast Bank        Lewiston
 4         19101                     Harford Bank        Aberdeen
 5         90211  Hingham Institution For Savings         Hingham
 6         11813                     Cadence Bank          Tupelo
 7         29143            Systemic Savings Bank     Springfield
 8         58481                       First Bank        Hamilton
 9         57449                   Medallion Bank  Salt Lake City
 10        35095                        Townebank      Portsmouth

             State
 0        Arkansas
 1      California
 2      California
 3           Maine
 4        Maryland
 5   Massachusetts
 6     Mississippi
 7        Missouri
 8      New Jersey
 9            Utah
 10       Virginia  ]

In [56]:
pip install beautifulsoup4

Collecting beautifulsoup4
  Downloading beautifulsoup4-4.12.3-py3-none-any.whl.metadata (3.8 kB)
Collecting soupsieve>1.2 (from beautifulsoup4)
  Downloading soupsieve-2.5-py3-none-any.whl.metadata (4.7 kB)
Downloading beautifulsoup4-4.12.3-py3-none-any.whl (147 kB)
   ---------------------------------------- 0.0/147.9 kB ? eta -:--:--
   -------- ------------------------------- 30.7/147.9 kB 1.4 MB/s eta 0:00:01
   ---------------------------------------- 147.9/147.9 kB 2.9 MB/s eta 0:00:00
Downloading soupsieve-2.5-py3-none-any.whl (36 kB)
Installing collected packages: soupsieve, beautifulsoup4
Successfully installed beautifulsoup4-4.12.3 soupsieve-2.5
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [49]:
a

[    Cert Number                        Bank Name            City  \
 0           110                         Bank OZK     Little Rock
 1         33539                   Preferred Bank     Los Angeles
 2         32203                Summit State Bank      Santa Rosa
 3         19690                   Northeast Bank        Lewiston
 4         19101                     Harford Bank        Aberdeen
 5         90211  Hingham Institution For Savings         Hingham
 6         11813                     Cadence Bank          Tupelo
 7         29143            Systemic Savings Bank     Springfield
 8         58481                       First Bank        Hamilton
 9         57449                   Medallion Bank  Salt Lake City
 10        35095                        Townebank      Portsmouth

             State
 0        Arkansas
 1      California
 2      California
 3           Maine
 4        Maryland
 5   Massachusetts
 6     Mississippi
 7        Missouri
 8      New Jersey
 9            Utah
 10       Virginia  ]