In [1]:
import sqlite3 as sql

In [2]:
connection=sql.connect('test.db')

In [3]:
cursor=connection.cursor()

In [10]:
cursor.execute('''
Create table if not exists users(
    id integer primary key,
    name text not null,
    age integer,
    department text
)
''')
connection.commit()

In [16]:
cursor.execute(''' 

select * from users
''')

In [15]:
cursor.execute(''' 
              Insert into users(name,age,department) values('John',25,'HR')  
               
               ''')
cursor.execute(''' 
              Insert into users(name,age,department) values('Bib',27,'EMPL')  
               
               ''')
cursor.execute(''' 
              Insert into users(name,age,department) values('Joyboy',75,'HR')  
               
               ''')
connection.commit()

In [69]:
cursor.execute(''' 
select * from users

''')
rows=cursor.fetchall()

for row in rows:
    print(row)

(1, 'John', 0, 'student')
(2, 'John', 0, 'student')
(4, 'Joyboy', 75, 'HR')

In [41]:
cursor.execute(''' 
update users 
 set department="student"  where name='John'               
               
''')

In [67]:
cursor.execute(''' 
    Delete from users 
    Where name='Bib'
              ''')
connection.commit()